<h3>Data Retention Settings</h3>
<br>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="min-height: 12rem; max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Data Retention Details</h5>
                <p class="card-text">
                    <ul>
                        <li>Data retention period: <strong>{{ data_retention["dataRetentionTtl"] }}</strong></li>
                        <li>Reset on new activity: <strong>{{ data_retention["dataRetentionResetOnNewActivity"] }}</strong></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>