<h3>Demographics</h3>
{% if demographics_bool %}
<div class="container">
    <div class="row">
        {% for id in ids %}
        <div class="col-sm">
            <h7>{{ id }}</h7>
            <div id="{{id}}"></div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    const graphs = JSON.parse('{{ graphJSON|safe }}');
    console.log(graphs)
    const ids = ['Female', 'Male'];
    console.log(ids)
    for (let i in graphs) {
        console.log(ids[i])
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>
{% else %}
<br>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="min-height: 6rem; max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Demographic Data is not enabled</h5>
            </div>
        </div>
    </div>
</div>
{% endif %}

<p>
    <a class="btn btn-warning" data-toggle="collapse" href="#collapseDemographicsBest" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Best Practices
                    </a>
</p>
<div class="collapse" id="collapseDemographicsBest">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">Demographics and interests data may only be available for a subset of your users, and may not represent the overall composition of your traffic. Use demographic and interest data to:</h5>
            <p class="card-text">
                <ul>
                    <li>Create segments to further slice and dice your website's data.</li>
                    <li>Build remarketing audiences based on predefined user characteristics.</li>
                </ul>
            </p>
        </div>
    </div>
</div>