<h3>Demographics</h3>
{% if demographics_bool %}
<div class="container">
    <div class="row">
        {% for id in ids %}
        <div class="col-sm">
            <h7>{{ id }}</h7>
            <div id="{{id}}"></div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    const graphs = JSON.parse('{{ graphJSON|safe }}');
    console.log(graphs)
    const ids = ['Female', 'Male'];
    console.log(ids)
    for (let i in graphs) {
        console.log(ids[i])
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>
{% else %}
<br>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="min-height: 6rem; max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Demographic Data is not enabled</h5>
            </div>
        </div>
    </div>
</div>
{% endif %}