<h3>Filter Overview</h3>
{% if not filters %}
<br>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="min-height: 6rem; max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">No filters defined for the given view.</h5>
            </div>
        </div>
    </div>
</div>
{% else %} {% for filter in filters %}

<div class="row">
    {% if filter[0] %}
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Rank: {{ filter[0].rank }} - {{ filter[0].name }}</h5>
                <p class="card-text">
                    <ul>
                        <li>ID: {{ filter[0].id }}</li>
                        <li>Type: {{ filter[0].type }}</li>
                    </ul>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ loop.index }}-1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          Filter Details
                                        </a>
                    </p>
                    <div class="collapse" id="collapseExample{{ loop.index }}-1">
                        <ul>
                            {% for key,value in filter[0].details.items() %}
                            <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </p>
            </div>
        </div>
    </div>
    {% endif %} {% if filter[1] %}
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Rank: {{ filter[1].rank }} - {{ filter[1].name }}</h5>
                <p class="card-text">
                    <ul>
                        <li>ID: {{ filter[1].id }}</li>
                        <li>Type: {{ filter[1].type }}</li>
                    </ul>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ loop.index }}-2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          Filter Details
                                        </a>
                    </p>
                    <div class="collapse" id="collapseExample{{ loop.index }}-2">
                        <ul>
                            {% for key,value in filter[1].details.items() %}
                            <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </p>
            </div>
        </div>
    </div>
    {% endif %} {% if filter[2] %}
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Rank: {{ filter[2].rank }} - {{ filter[2].name }}</h5>
                <p class="card-text">
                    <ul>
                        <li>ID: {{ filter[2].id }}</li>
                        <li>Type: {{ filter[2].type }}</li>
                    </ul>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ loop.index }}-3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          Filter Details
                                        </a>
                    </p>
                    <div class="collapse" id="collapseExample{{ loop.index }}-3">
                        <ul>
                            {% for key,value in filter[2].details.items() %}
                            <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>


                </p>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endfor %} {% endif %}
<p>
    <a class="btn btn-warning" data-toggle="collapse" href="#collapseFilterBest" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Best Practices
                    </a>
</p>
<div class="collapse" id="collapseFilterBest">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">These filters should be present in your view to achieve high quality data:</h5>
            <p class="card-text">
                <ul>
                    <li><a href="https://support.google.com/analytics/answer/1034840?hl=en" target="_blank">IP filter</a> (exclude internal and agency traffic)</li>
                    <li><a href="https://support.google.com/analytics/answer/1033162?hl=en" target="_blank">Hostname filter</a> (include only traffic to the relevant domain)</li>
                    <li>Keep in mind that filters are executed in a subsequent order (indicated by the rank). Pay attention to any dependencies that might occur!</li>
                </ul>
            </p>
        </div>
    </div>
</div>