<h3>10 Mio. Hit Limit</h3>
<br>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="min-height: 12rem; max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Hit Limit Details</h5>
                <p class="card-text">
                    <ul>
                        <li>{{ hits_greater['text'] }}</li>
                        <li>Your hit count for the last 30 days is: <strong>{{ hits_greater['hit_count'] }}</strong></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>