<h3>10 Mio. Hit Limit</h3>
<br>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Hit Limit Details</h5>
                <p class="card-text">
                    <ul>
                        <li>{{ hits_greater['text'] }}</li>
                        <li>Your hit count for the last 30 days is: <strong>{{ hits_greater['hit_count'] }}</strong></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>


<p>
    <a class="btn btn-warning" data-toggle="collapse" href="#collapseRetentionBest" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Best Practices
                    </a>
</p>
<div class="collapse" id="collapseRetentionBest">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">If your property exceeds hit limits you have no guarantee additional hits are processed. Possible solutions are:</h5>
            <p class="card-text">
                <ul>
                    <li>Upgrade to Google Analytics 360 (2 billion hits/month)</li>
                    <li>Send fewer hits (e.g., get rid of unecessary event tracking)</li>
                    <li>Read more about the limits and your options <a href="https://support.google.com/analytics/answer/1070983?hl=en" target="_blank">here</a>.</li>
                </ul>
            </p>
        </div>
    </div>
</div>