<!doctype html>
<html lang="en">

<head>
    {% include 'snippets/account_structure/scripts.html' %}
    <title>GA Audit</title>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- Navbar -->
    {% include 'snippets/generic/navbar.html' %}
    <br> {% include 'snippets/generic/ga_form.html' %}
    <br>
    <br> {% if account_name %}
    <div>
        <!-- Account Name -->
        {% include 'snippets/account_structure/account_name.html' %}
        <br>
        <!-- Users & Permissions -->
        {% include 'snippets/account_structure/user_permissions.html' %}

        <!-- Data Retention Settings -->
        {% include 'snippets/account_structure/data_retention.html' %}

        <!-- Filters -->
        {% include 'snippets/account_structure/filters.html' %}

        <br>

        <!-- Demographics -->
        {% include 'snippets/account_structure/demographics.html' %}
        <br>

        <!-- 10 Mio. Hit Limit -->
        {% include 'snippets/account_structure/hit_limit.html' %}


    </div>
    {% endif %}

    <!-- Sticky icon -->
    {% include 'snippets/generic/sticky_icon.html' %}

</body>

</html>