<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='tracking.js') }}"></script>

    <title> {% block title %} {% endblock %}</title>
    {% endblock %}
</head>

<body class="p-3 mb-2 bg-dark text-white">
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">App Overview</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/causal-impact">Causal Impact<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text mr-2 text-white">
            Currently logged in as {{ user_info['given_name'] }} {{ user_info['family_name'] }}
          </span>
            <a href="/google/logout" class="btn btn-danger" role="button" aria-pressed="true">Logout</a>
        </div>
    </nav>
    {% endblock %}
    <div id="content"> {% block content %} {% endblock %} </div>
    <div id="footer">
        {% block footer %}
        <div class="fixed-bottom">
            <p class="text-center">Made with <i class="icon ion-heart"></i> in Copenhagen</p>
        </div>
        {% endblock %}
    </div>
</body>

</html>